.s-card{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    background-color: white;
    border-radius: 5px;
    color: var(--blue);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    font-size: 1.05rem;
    border: 1px solid var(--blue);
}