.e{
    height: 580px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
}

.e-title{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 185px;
    height: 50px;
    border-radius: 5px;
    background-color: var(--lightBlack);
    color: var(--white);
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 0.15rem;
    position: absolute;
}

.e-handle{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 7rem;
    margin-left: 3rem;
    margin-right: 3rem;
    gap: 1rem;
}

@media screen and (max-width: 1136px) {
    .e{
        height: 900px;
    }
}

@media screen and (max-width: 900px) {
    .e{
        height: 930px;
    }
}


@media screen and (max-width: 876px) {
    .e{
        height: 1200px;
    }
}


@media screen and (max-width: 616px) {
    .e{
        height: 2450px;
    }
}


