:root{
    --lightBlue: #8bcde0;
    --skyBlue: #20e4ff;
    --blue: #355c7d;
    --lightPink: #d19ba4;
    --lightGray: #909090;
    --darkGray: #6c5b7b;
    --softPink: #ffc2c1;
    --waterColor: #a8a7a7;
    --lightBlack: #474747;
    --blueNight: #333745;
    --fernGreen: #4F7942;
    --forestGreen: #228B22;
    --mossGreen: #8A9A5B;
    --oliveGreen: #808000;
    --pistachio: #93C572;
    --sageGreen: #8A9A5B;
    --brightOrange: #FFAC1C;
    --bronge: #CD7F32;
    --butterScotch: #E3963E;
    --screaminGreen: #66FF66;
    --sealmyGreen: #299617;
    --springFrost: #87FF2A;
    --brightGreen: #66ff00;
    --backGround: whitesmoke;
    --white: whitesmoke;
    --purple: #B026FF;
    --darkBlue: #00008B;
    --lightOrange: #FFA500;

}

.app{
    background-color: var(--backGround);
    width: 100%;
}

*{
    margin: 0;
    padding: 0;
}